<h2>Tutorial Participation</h2>
<p>You can obtain the tutorial code during the tutorial.
  <strong>Note: I have put marks for tutorial 2-4 up on Quercus. Please check if your marks are missing.</strong>
</p>
<form
  action="https://docs.google.com/forms/d/e/1FAIpQLSc715WEiQ8TWsk0QGJ-0pCHyl0DwZl56tl0S3lPAUnldXoC7A/formResponse"
  method="post"
>
  <mat-form-field class="form-control">
    <input matInput placeholder="Your UTORid/ Team Name" name="entry.215881781">
  </mat-form-field>

  <mat-form-field class="form-control">
    <input matInput placeholder="Tutorial Code" name="entry.580170579">
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Get 1%</button>
</form>
