.sidenav-container {
  height: 100%;
}

.content {
  padding: 10px;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.theme-toggle {
  margin: 0 55px 0 0;

  .theme-name {
    font-size: 15px;
  }
}

@media(max-width: 730px) {
  .main-nav-title {
    font-size: 16px;
  }

  .theme-name {
    font-size: 13px;
  }
}

@media(max-width: 680px) {
  .theme-name {
    display: none;
  }
}
