.sidenav-container {
  height: 100%;
}

.content {
  padding: 10px;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.theme-toggle-button {
  margin: 0 55px 0 0;
}
